/*Google font*/

body{
	font-family: Zilla Slab;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding:  0.8rem;
	margin-bottom: 0.3rem;
	border-bottom: gray;
	list-style-type: none;
	text-align: right;
	padding-right: 100px;
	position: sticky;
	top: 0;
	z-index: 999;
	font-weight: bold;
	background-color: white;
}
 
 nav .nav, nav .nav-logo {
 	margin: 0.5rem;
 	display: inline;

 }

 .nav-logo {
	float: left;
	padding-left: 120px;
}

 .title {
 	text-align: right;
 	font-size: 50px;
 	margin-right: 7rem;
 	color: white;
 	font-weight: bolder;
 	padding-top: 20px;
 }

 .title-2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 40px;
}

 .subtitle {
 	text-align: right;
 	margin-right: 7rem;
 	padding-bottom: 20px;
 	padding-top: 10px;
 	color: white;
 	font-size: 1.5rem;
 }

 .tuitt-button {
 	font-weight: bold;
	background-color: #c2195b;
	border: none;
	border-radius: 30px;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	text-align: center;

 }

 .apply-button {
 	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	float: right;
	margin-right: 7rem;
 }

.book-button {
	border-radius: 60px;
	border: none;
	margin-top: 10px;
	background-color: #336589;
	padding: 0.5rem;
	font-weight: bold;
	color: white;
	font-size: 16px;
	width: 8%;	
}

 #bg-image {
	min-height: 30rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed; 
}

.front-bg	{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 30rem;
}



.pre-footer {
	background-color: ghostwhite;
	display: block;
	text-align: center;
	height: 30vh;
}

.intro-description {
	width: 100%;
	min-height: 175px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: center;
	text-align: justify;
	padding-right: 200px;
	padding-left: 500px;
}

.prefooter-description {
	width: 100%;
	
	margin-left: 15px;
	margin-right: 100px;
	text-align: center;	
	
	
}



footer {
	padding-top: 200px;	
	padding-bottom: 10px;
	text-align: center;
	background-color: ghostwhite;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}